<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site's Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Site's Blog</h1>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <h5><b>Author: </b> <span th:text="${el.author}"/></h5>
        <h6><b>Published: </b> <span th:text="${el.period}"/></h6>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-info">Details</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>